*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
div , nav , section , main , aside , footer , header , span , ul {
    display: flex;
}
li{
    list-style-type: none;
}
:root {
    --main-blue: #1572A1;
    --main-green: #68EACC;
    --main-grey: #f2f2f2;
    --main-red: #e74c3c;
    --main-white: #fff;
    --sub-blue: #86C6F4;
    --sub-grey: #ccc;
  }
.main{
    width: 100%;
    height: 100vh;
    background: linear-gradient(to bottom, var(--main-green), var(--sub-blue));
    justify-content: center;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    >.todo{
        width: 400px;
        // height: 500px;
        border-radius: 5px;
        background-color: #fff;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: start;
        align-items: flex-start;
        // border: 1px solid #031c2e;
        >h1{
            width: 100%;
            height: 30px;
            color: black;
            font-weight: bold;
            margin: 20px;
            padding-left: 10px;
            padding-top: 10px;

        }
        .add{
            width: 100%;
            height: 40px;
            justify-content: space-evenly;
            align-items: center;
            >input{
                width: 70%;
                height: 35px;
                border-radius: 3px;
                border: 1px solid rgb(172, 171, 171);
                padding: 10px;
            }
            button{
                width: 35px;
                height: 35px;
                background-color: #1572A1;
                color: white;
                font-weight: bolder;
                font-size: 22px;
                border-radius: 3px;
                border: none;
                cursor: pointer;

            }
        }
        .box{
           width: 100%;
           display: flex;
           flex-direction: column;
           max-height: 300px;
           overflow-y: scroll;
           ul{
            width: 100%;
            // min-height: 300px;
            // height: 300px;
            // overflow-y: scroll;
            flex-direction: column;
            gap: 3px;
            // border: 1px solid rebeccapurple;
            li{
                width: 344px;
                height: 40px !important;
                // border-bottom: 1px solid black;
                background-color: #ccc;
                border-radius: 3px;
                display: flex;
                justify-content: space-between;
                align-items: space-evenly;
                // padding-top: 10px;
                overflow-x: hidden;
                overflow-y: hidden;
                margin-left: 28px;
                p{
                    display: flex;
                    justify-content: space-evenly;
                    align-items: center;
                    padding-left: 5px;
                }
                span{
                    transform: translateX(100px);
                    cursor: pointer;
                    background-color: #e74c3c;
                    color: #fff;
                    width: 40px;
                    height: 40px;
                    justify-content: center;
                    align-items: center;
                    transition: 1s;
                }

            }
        }

        }
    }
}
#btnedit{
    width: 100%;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    >button{
        width: 80px;
        height: 40px;
        background-color: #1572A1;
        color: #f2f2f2;
        border: none;
        border-radius: 3px;
        display: none;
        transition: 1s;
    }
}
._block{
    display: block;
}